<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Goldman&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/add-to-list.css" />
    <link rel="stylesheet" href="/stylesheets/edit-list.css" />
  </head>
  <body>
    <div class="header">
      <h1 id="site-name"><a href="/">AniMate</a></h1>
    </div>
    <h2>Update Anime</h2>
    <form
      action="/user-list/edit"
      method="POST"
      autocomplete="off"
      id="form-edit"
    >
      <input value="<%=item.id %>" type="hidden" name="id" />
      <label
        >Title:
        <input value="<%=item.title %>" type="text" name="title" /> </label
      ><br />
      <label
        >Image URL:
        <input value="<%=item.image_url %>" type="text" name="imageUrl" />
      </label>
      <label
        >Episodes:
        <input value="<%=item.episodes %>" type="text" name="episodes" />
      </label>
      <label
        >Start Date:
        <input value="<%=item.start_date %>" type="text" name="startDate" />
      </label>
      <label
        >End Date:
        <input value="<%=item.end_date %>" type="text" name="endDate" />
      </label>
      <label
        >score: <input value="<%=item.score %>" type="text" name="score" />
      </label>
      <br />
      <button type="submit">update anime</button>
    </form>
  </body>
</html>
